.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font-size: 12px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.progress-bar {
  stroke: none;
  fill-opacity: 0.5;
}

.label {
  font-size: 12px;
  fill: #000;
  text-anchor: middle;
}

.arrowHead {
  fill: #ccc;
}
